absl-py==2.5.0
ai-edge-litert==2.2.0
APScheduler==3.11.3
asgiref==3.12.1
astunparse==1.6.3
backports.strenum==1.2.8
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.1
colorama==0.4.6
cryptography==50.0.0
Django==5.2.17
dj-database-url==3.1.2
django-cors-headers==4.9.0
firebase-admin==7.1.0
flatbuffers==25.12.19
gast==0.7.0
google-pasta==0.2.0
gunicorn==24.1.0
grpcio==1.83.0
h5py==3.14.0
idna==3.18
keras==3.15.1
libclang==18.1.1
Markdown==3.10.3
markdown-it-py==4.2.0
MarkupSafe==3.0.3
mdurl==0.1.2
ml_dtypes==0.5.0
namex==0.1.0
numpy==1.26.4
opt_einsum==3.4.0
optree==0.19.1
packaging==26.3
pillow==12.3.0
protobuf==7.35.1
pycparser==3.0
Pygments==2.20.0
PyMuPDF==1.26.0
PyMuPDFb==1.24.8
requests==2.34.2
rich==15.0.0
setuptools==84.0.0
six==1.17.0
sqlparse==0.6.0
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.2
termcolor==3.3.0
tqdm==4.70.0
typing_extensions==4.16.0
tzdata==2026.3
tzlocal==5.4.4
urllib3==2.7.0
Werkzeug==3.1.8
whitenoise==6.11.0
wheel==0.48.0
wrapt==2.3.0
